body {
    width: 1440px;
    background: #FFFFFF;
    box-sizing: border-box;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #4F4F4F;
}

i {
    font-size: 20px;
}

.main {
    max-width: 1170px;
    margin: 0 135px;
}

/* cities works */

.cities,
.nature,
.people {
    margin: 120px 0;
}

.title {
    font-family: 'Delius Unicase';
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.gallery {
    display: grid;
    margin-top: 80px;
    gap: 30px;
    grid-template-columns: repeat(3, 370px);
}

.cities__gallery {
    grid-template-rows: repeat(3, 370px);
}

.first__photo {
    grid-column: 1/2;
}

.second__photo {
    grid-column: 2/4;
}

.third__photo {
    grid-column: 1/3;
}

.fourth__photo {
    grid-column: 3/4;
}

.fifth__photo {
    grid-column: 1/2;
}

.sixth__photo {
    grid-column: 2/4;
}

/* nature works */

.nature__gallery {
    grid-template-rows: repeat(4, 370px);
}

.first__nature {
    grid-column: 1/2;
}

.second__nature {
    grid-column: 2/4;
}

.third__nature {
    grid-column: 1/3;
    grid-row: 2/4;
}

.fourth__nature {
    grid-column: 3/4;
    grid-row: 2/4;
}

.fifth__nature {
    grid-column: 1/3;
}

.sixth__nature {
    grid-column: 3/4;
}

/* people gallery */

.people__gallery {
    grid-template-rows: repeat(5, 370px);
}

.first__person {
    grid-column: 1/2;
}

.second__person {
    grid-column: 2/3;
    grid-row: 1/3;
}

.third__person {
    grid-column: 3/4;
}

.fourth__person {
    grid-column: 1/2;
}

.fifth__person {
    grid-column: 3/4;
    grid-row: 2/4;
}

.sixth__person {
    grid-column: 1/2;
    grid-row: 3/5;
}

.seventh__person {
    grid-column: 2/3;
}

.eighth__person {
    grid-column: 2/4;
}

.ninth__person {
    grid-column: 1/3;
}

.tenth__person {
    grid-column: 3/4;
}

/* card photo style */

.card__photo {
    display: block;
    position: relative;
}

.card__photo:hover .blur {
    cursor: pointer;
    background: linear-gradient(360deg, #241F24 1.04%, rgba(91, 91, 91, 0.26) 6.99%, rgba(187, 186, 192, 0) 12.29%);
    border-radius: 20px;
    transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
}

.card__photo:hover .link__item {
    opacity: 1;
}

.blur {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    background: linear-gradient(360deg, #241F24 0%, rgba(91, 91, 91, 0.447552) 34.11%, rgba(187, 186, 192, 0.26) 62.5%);
    background-size: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.link__item {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background: rgba(224, 224, 224, 0.5);
    position: absolute;
    top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.link__item:hover  {
    opacity: 1;
    background: #E0E0E0;
    cursor: url(../images/hand-point-up.png), auto;
    transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
}

.like {
    left: 20px;
}

.download {
    right: 20px;
}

.photo__item {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.item__text,
.item__date {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    font-family: 'Roboto';
    font-size: 20px;
    line-height: 23px;
}

.item__text {
    left: 20px;
    font-weight: 500;
    color: #FFFFFF;
}

.item__date {
    right: 20px;
    font-weight: 400;
    color: #E0E0E0;
}